# Node.js
node_modules/
pnpm-lock.yaml
yarn.lock
package-lock.json
.vite
/dist

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
env/
venv/
*.sqlite3
database.json

# IDEs and editors
.vscode/
.idea/
.DS_Store
*.log
